{% extends "base.html" %}

{% block title %}Account - Login{% endblock %}

{% block content %}
    <h1>Login</h1>

<section>
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="useranem" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <input type="submit" value="login">
    </form>
</section>

<section>
    <ul>
        <li><a href="{% url 'social:begin' backend='facebook' %}">Facebook Login</a></li>
        <li><a href="{% url 'social:begin' backend='facebook' %}">Kakao Login</a></li>
    </ul>
</section>
{% endblock %}
