{% extends 'base.html' %}
{% block title %}Post - Create{% endblock %}
{% block content %}

<h1>Create</h1>

<iframe
        width="500"
        height="315"
        src="https://www.youtube.com/embed/AAOyOZ3GeZ0"
        frameborder="0"
        allowfullscreen></iframe>

<section>
    <form action="{% url 'posts:confirm' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="video_id" placeholder="Youtube video_id" required><br>
        <input type="text" name="title" placeholder="Title" required><br>
        <textarea name="content" id="" cols="30" rows="10" placeholder="Content"></textarea>
        <input type="submit" value="confirm">
    </form>
</section>
{% endblock %}
